<span style="display: inline-table; width: 120px"></span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">6AM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">7AM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">8AM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">9AM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">10AM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">11AM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">12PM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">1PM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">2PM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">3PM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">4PM</span>
<span style="display: inline-table; width: 40px; text-align: center; font-size: small">5PM</span>

<app-workdayhours dayOfWeek="Monday"></app-workdayhours>
<app-workdayhours dayOfWeek="Tuesday"></app-workdayhours>
<app-workdayhours dayOfWeek="Wednesday"></app-workdayhours>
<app-workdayhours dayOfWeek="Thursday"></app-workdayhours>
<app-workdayhours dayOfWeek="Friday"></app-workdayhours>
<app-workdayhours dayOfWeek="Saturday"></app-workdayhours>
<app-workdayhours dayOfWeek="Sunday"></app-workdayhours>
