<span style="display: table; height: 40px;">
  <span style="display: table-cell; vertical-align: middle; width: 120px; height: 100%">
    {{dayOfWeek}}
  </span>
  <app-workdayhourstile timeSlot="0600" title="6:00 AM" (onTileClicked)="tileClicked($event);"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="0630" title="6:30 AM" (onTileClicked)="tileClicked($event);"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="0700" title="7:00 AM" (onTileClicked)="tileClicked($event);"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="0730" title="7:30 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="0800" title="8:00 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="0830" title="8:30 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="0900" title="9:00 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="0930" title="9:30 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1000" title="10:00 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1030" title="10:30 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1100" title="11:00 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1130" title="11:30 AM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1200" title="12:00 PM" (onTileClicked)="tileClicked($event);" [selected]="false"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1230" title="12:30 PM" (onTileClicked)="tileClicked($event);" [selected]="false"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1300" title="1:00 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1330" title="1:30 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1400" title="2:00 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1430" title="2:30 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1500" title="3:00 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1530" title="3:30 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1600" title="4:00 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1630" title="4:30 PM" (onTileClicked)="tileClicked($event);" [selected]="true"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1700" title="5:00 PM" (onTileClicked)="tileClicked($event);" [selected]="false"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1730" title="5:30 PM" (onTileClicked)="tileClicked($event);" [selected]="false"></app-workdayhourstile>
  <app-workdayhourstile timeSlot="1800" title="6:00 PM" (onTileClicked)="tileClicked($event);" [selected]="false"></app-workdayhourstile>
</span>

